.button-content {
  display: block;
  width: 400px;
  height: 80px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #7ecfe0;
  background: #3a2f2f;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 80px;
  color: #7ecfe0;
  margin: 146px auto auto auto;
}

@media (max-width: 413px) {
  .button-content {
    width: 300px;
  }
}

@media (max-width: 313px) {
  .button-content {
    width: 250px;
  }
}

.button-content:hover {
  outline: #7ecfe0 2px solid;
}
