.main-button {
  padding: 15px 37px;
  font-family: "Barlow Condensed";
  font-weight: 600;
  font-size: 24px;
  color: #7ecfe0;
  background: #3a2f2f;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

@media (max-width: 1300px) {
  .main-button {
    padding: 15px 15px;
  }
}

@media (max-width: 1150px) {
  .main-button {
    font-size: 18px;
  }
}

.main-button:hover {
  outline: #7ecfe0 2px solid;
}
